{% load static %}
<header>
    <div class="header-left">
        <a href="{% url 'characters:main' %}" class="logo">몽유록</a>

        <nav>
            <a href="{% url 'characters:main' %}"
            class="nav-link {% if request.resolver_match.view_name == 'characters:main' %}active{% endif %}">독대 모드</a>
            <a href="{% url 'scenarios:main_scenarios' %}"
            class="nav-link {% if request.resolver_match.view_name == 'scenarios:main_scenarios' %}active{% endif %}">스토리 모드</a>
            <a href="#">이미지</a>
        </nav>
    </div>

    <div class="header-right">
        <div class="search-box">
            <input type="text" class="search-input">
            <img src="{% static 'images/icons/search.png' %}" alt="">
        </div>
        <div class="login-box">
            <div class="header-profile">
                <a href="{% url 'auths:login' %}">ㅇㄴㄹ</a>
            </div>
            <div class="header-hover">
                <div>마이페이지</div>
                <div>로그아웃</div>
            </div>
        </div>
    </div>
</header>