{% load static %}
<header>
    <div class="header-left">
        <a href="{% url 'main' %}" class="logo">몽유록</a>

        <nav>
            <a href="#">독대 모드</a>
            <a href="#">스토리 모드</a>
            <a href="#">이미지</a>
        </nav>
    </div>

    <div class="header-right">
        <div class="search-box">
            <input type="text" class="search-input">
            <img src="{% static 'images/icons/search.png' %}" alt="">
        </div>
        <div class="login-box">
            <div class="header-profile">
                <a href=""></a>
            </div>
            <div class="header-hover">
                <div>마이페이지</div>
                <div>로그아웃</div>
            </div>
        </div>
    </div>
</header>